@charset "UTF-8";
body {
  margin:100px auto;
  text-align: center;
  background-color:#EDEDED;
}
.btn {
  font-family:Arial,Helvetice,sans-serif;
  font-size:16px;
  color:#333333;
  text-decoration:none;
}
.main{
   margin: auto;
   border-radius: 25px;
   border: 2px solid black;
   padding: 20px; 
   width: 550px;
   height: 340px;
}
.main1{
   width: 250px;
   height: 160px;
   margin:auto;
   padding: 40px;
}
a{
  font-family:Arial Helvetice,sans-serif;
  font-size:13px;
  text-align:center;
  margin:3px;
  font-weight:bold;

}
a:link,a:visited{
color:#333333;
padding:4px 9px;　　/*鼠标放上前字体位置*/
background-color:#333333;
text-decoration:none;
border-top:1px solid #767676;
border-left:1px solid #767676;
border-bottom:1px solid #767676;
border-right:1px solid #767676;
}
a:hover{
  background-color:#DFDFDF;
}