<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>sx</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CreateImageServlet</servlet-name>
    <servlet-class>com.hbsi.util.CreateImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateImageServlet</servlet-name>
    <url-pattern>/createImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>com.hbsi.util.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/checkCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hbsi.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.hbsi.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminManageServlet</servlet-name>
    <servlet-class>com.hbsi.servlet.AdminManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManageServlet</servlet-name>
    <url-pattern>/adminManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserManageServlet</servlet-name>
    <servlet-class>com.hbsi.servlet.UserManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManageServlet</servlet-name>
    <url-pattern>/userManage</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>StudentManageServlet</servlet-name>
    <servlet-class>com.hbsi.servlet.StudentManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentManageServlet</servlet-name>
    <url-pattern>/stuManage</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.hbsi.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>